[submodule "Vendor/facebook-ios-sdk"]
	path = Vendor/facebook-ios-sdk
	url = git://github.com/facebook/facebook-ios-sdk.git
	ignore = dirty
[submodule "Vendor/KissXML"]
	path = Vendor/KissXML
	url = https://github.com/cantinac/KissXML.git
	branch = swift2-and-frameworks
	ignore = dirty
[submodule "Vendor/CocoaLumberjack"]
	path = Vendor/CocoaLumberjack
	url = https://github.com/cantinac/CocoaLumberjack.git
	ignore = dirty
